pre {
    background-color: #000;
    border: 1px solid #666;
}

.username1 {
    color: #f8f8f8;
}

.username2 {
    color: #7c7c7c;
}

.username3 {
    color: #96cbfe;
}

.username4 {
    color: #ffffb6;
}

.username5 {
    color: #a8ff60;
}

.username6 {
    color: #daefa3;
}

.username7 {
    color: #e9c062;
}

.username8 {
    color: #ffffb6;
}

.username9 {
    color: #c6c5fe;
}

.username10 {
    color: #96cbfe;
}

.username11 {
    color: #ff73fd;
}
