<!DOCTYPE html>
<html lang="en" ng-app="yyp" ng-controller="MainCtrl">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <script src="js/libs.js"></script>
    <script src="js/yyp.js"></script>
    <link href="css/yyp.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="container-fluid">
      <div class="col-lg-12">
        <div ng-controller="PasteCtrl">
          <div paste-list></div>
          <form role="form">
            <div class="form-group">
              <label>Title</label><input ng-model="title" type="text"/>
              <label>Message</label><input ng-model="message" type="text"/>
            </div>
            <button ng-click="submit()" type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
