<div>
  <div ng-show="!loaded">
    Loading
  </div>
  <div ng-show="loaded">
    <div ng-repeat="paste in pastes" ng-animate="'animate'">
      <div class="row">
        <div class="col-xs-2">
          <div>
            <a href="" ng-click="remove(paste)">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
          </div>
        </div>
        <div class="col-xs-10">
          <div>
            <a href="" ui-sref="show({id:paste.$id})">
              {{paste.title}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
