<div>
  <div class="margin-top-32" ng-show="!loaded">
    <span us-spinner="{color: '#FFF'}"></span>
  </div>
  <div ng-show="loaded">
    <div class="row">
      <form name="messageForm" role="form" novalidate>
      <div class="col-md-2 text-right">
        <input class="form-control input-dark text-right" ng-class="userClass(user)" type="text" ng-model="user" placeholder="Name" required/>
      </div>
      <div class="col-md-9">
        <input class="form-control input-dark white" type="text" ng-model="message" placeholder="Message" required/>
      </div>
      <div class="col-md-1">
        <button ng-disabled="messageForm.$invalid" class="btn btn-primary" type="submit" ng-click="add()">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true" ui-sref="create"></span>
          Send</button>
      </div>
      </form>
    </div>
    <div ng-repeat="message in messages | reverse" ng-animate="'animate'">
    <div class="row">
      <div class="col-md-1 text-right" ng-class="userClass(message.user)">
        {{message.user}}
      </div>
      <div class="col-md-8">
        <span class="message-text" ng-bind-html="message.message | linky"></span>
      </div>
      <div class="col-md-3 text-right">
        <span class="timestamp">
          {{message.time | date:"short" }}
        </span>
      </div>
    </div>
    </div>
  </div>
</div>
