<div ng-controller="PasteShowCtrl">
  <div ng-show="paste">
    <div class="row">
      <div class="col-lg-8">
        <h5>{{paste.title}}</h5>
      </div>
      <div class="col-lg-4 text-right">
        <h5><small>Created {{paste.time | date:'short' }}</small></h5>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <pre>{{paste.message}}</pre>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-right">
        <a ui-sref="create">
          <button class="btn btn-danger" ng-click="remove()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true" ui-sref="create"></span>
            Remove
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
